@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门页面</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/layui.css" rel="stylesheet" />    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="login_box" id="login_box">
        <h2>用 户 登 录</h2>
        <div >@ViewData["error"]</div><!--错误提示-->
        <form class="layui-form" action="/User/LoginSubmit" method="post" role="form">
            <div class="input_in">
                <span class="layui-icon layui-icon-username"></span>
                <input type="text" name="username" placeholder="&ensp;请输入用户名" id="username" required>
            </div>
            <div class="input_in">
                <span class="layui-icon layui-icon-password"></span>
                <input type="password" name="password" placeholder="&ensp;请输入密码" id="password" required>
            </div>
            <button type="submit" class="layui-btn layui-btn-normal" title="登录" id="login">登 录</button>
        </form>
    </div>


    <script src="~/Scripts/layui.all.js"></script>
    <script>

    </script>
</body>
</html>

