@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加部门页面</title>
    <link href="~/Content/layui.css" rel="stylesheet" />
    <link href="~/Content/zTreeStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.ztree.core.min.js"></script>
    <style>
         body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            overflow: hidden;
        }
         body::-webkit-scrollbar { width: 0 !important }
         .layui-layout-admin .layui-body{bottom:0}
       *{margin:0;padding:0;}
        form {
            margin-left: 10px;
        }
        .label {
            width: 100px;
            font-size: 16px;
            margin-top: 4px;
        }
        input[type=text] {
            width: 240px;
            height: 32px;
            border-radius: 4px;
            margin-top: 4px;
        }
          input[type=text]:hover {
                border-radius: 6px;
                border: #333 1px solid;
            }

     form>ul>li {
            float: left;
        }
    </style>
 </head>
<body>
    <form class="layui-form" role="form" action="/Dept/insertDept" method="post">
        <ul>
            <li>
                
                <div class="layui-form-item">
                    <label class="label">名称</label>
                    <div>
                        <input type="text" name="name" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="label">编码</label>
                    <div>
                        <input type="text" name="code" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="label">简码</label>
                    <div>
                        <input type="text" name="simCode" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="label">位置</label>
                    <div>
                        <select name="location" lay-verify="required">
                            <option value="0"></option>
                            <option value="A01.内科" title="A01.内科">A01.内科</option>
                            <option value="A02.老年科" title="A02.老年科">A02.老年科</option>
                            <option value="A03.外科" title="A03.外科">A03.外科</option>
                            <option value="A04.妇产科" title="A04.妇产科">A04.妇产科</option>
                            <option value="A05.急诊科" title="A05.急诊科">A05.急诊科</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="label">上级科室</label>
                    <div>
                        <input type="hidden" name="parentId" class="layui-btn layui-btn-normal" id="parentId" />
                        <input type="button" name="parentname" class="layui-btn layui-btn-normal" value="没有上级" id="parentname" />
                    </div>
                </div>
            </li>
            <li style="margin-left: 40px">
                <div class="layui-form-item">
                    <label class="label">站点</label>
                    <div>
                        <select name="site" lay-verify="required">
                            <option value="0" title="0">0</option>
                            <option value="1" title="1">1</option>
                            <option value="2" title="2">2</option>
                            <option value="3" title=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="label">环境类别</label>
                    <div>
                        <select name="entCat" lay-verify="required">
                            <option value="0" title=""></option>
                            <option value="I类" title="I类">I类</option>
                            <option value="II类" title="II类">II类</option>
                            <option value="III类" title="III类">III类</option>
                            <option value="IV类" title="IV类">IV类</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="label">建档时间</label>
                    <div>
                        <input type="text" name="createTime" class="layui-input" readonly />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="label">是否末级</label>
                    <div>
                        <input type="radio" name="finalNode" value="1" title="是">是
                        <input type="radio" name="finalNode" value="0" title="否" checked>否
                    </div>
                </div>
            </li>
        </ul>
        <button type="submit" class="layui-btn layui-btn-normal">添加</button>
    </form>

    <script src="~/Scripts/layui.all.js"></script>
    <script>
        var zTreeObj;
        //配置树的样式
        var setting = {
            view: {
                dblClickExpand: true,//双击节点时，是否自动展开父节点的标识
                showLine: true,//是否显示节点之间的连线
                fontCss: { 'color': 'black', 'font-weight': '300', 'font-size': '14px' },//字体样式函数
                selectedMulti: true //设置是否允许同时选中多个节点
            },
            check: {
                chkboxType: { "Y": "", "N": "" },
                chkStyle: "checkbox",//复选框类型
                enable: true //每个节点上是否显示 CheckBox
            },
            edit: {
                enable: true,
                editNameSelectAll: true,
                showRemoveBtn: true,
                showRenameBtn: true,
                removeTitle: "remove",
                renameTitle: "rename"
            },
            data: {
                simpleData: {//简单数据模式
                    enable: true,
                    idKey: "id",
                    pIdKey: "IPARENTID",
                    rootPId: null
                }
            },
            callback: {
                onClick: zTreeOnClick
            }
        };
        //得到部门的树
        $.ajax({
            url: "/Dept/getDeptTree",
            dateType: "json",
            type: "POST",
            success: function (data) {
                //调用layui.tree方法
                $(document).ready(function () {
                    zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, data);
                });
            }
        });

        //点击树的节点时要处理的方法
        function zTreeOnClick(event, treeId, treeNode) {
            var id = treeNode.id;
            var name = treeNode.name;
            $("#confirm").click(function () {
                $("#parentId").val(id);
                $("#parentname").val(name);
                $("#mask").hide(600);
                $("#dept").fadeOut(500);
            });
        }
    </script>
</body>
</html>

