@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门内容</title>
    <link href="~/Content/layui.css" rel="stylesheet" />
    <link href="~/Content/zTreeStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.ztree.core.min.js"></script>
</head>
<body>
   
    <form class="layui-form " role="form" action="/Emp/" method="post">
        上级ID:<input type="text" name="parentId" readonly /><br />
        编码:<input type="text" name="code" /><br />
        名称:<input type="text" name="name" /><br />
        简码:<input type="text" name="location" /><br />
        位置:<input type="text" name="parentId" /><br />
        末级:<input type="text" name="finalNode" /><br />
        站点:<input type="text" name="site" /><br />
        环境类别:<input type="text" name="entCat" /><br />
        最后修改时间:<input type="text" name="lastTime" />

    </form>


</body>
</html>
       
