@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交班报告页面</title>
    <link href="~/Content/layui.css" rel="stylesheet" />
    <style>
        body{background:#eeeeee}
        .cuss-top{height:40px;width:100%;}
        .cuss-kf input{height:28px;width:170px;border:1px solid #cccccc;padding-left:4px;}
        .cuss-kf{float:left;margin-left:15px;margin-top:5px;}
        .handOver{display:none;}
        .report{width:98%;height:566px;background:#ffffff;margin-left:1%;margin-top:20px;}
        /*签名*/
        .signature-table{width:98%;margin-left:1%;}
        .signature-table>tr:nth-child(2){
             height:46px;
             font-size:12px;     
         }
        .signature-table>tr td{width:28%;}
        .signature-table .secondList{margin-top:8px;}
        .signature-table tr td div>span{display:inline-block; width:48%;}
        .report-content{width:98%;margin-left:1%;}
         .report-content-table{border-collapse:collapse; border-spacing:0; width:100%;}  
        .report-content-table td{width:29%;font-size:14px;font-weight:400;}
        /*病人在三个不同班次的状态的样式*/
        .patient-status-day , .patient-status-late-night , .patient-status-night{width:100%;}
        .patient-status-day span, .patient-status-late-night span , .patient-status-night span{margin-left:6px;}
         .patient-status-day td, .patient-status-late-night td , .patient-status-night td{border-bottom:1px solid #666666;height:26px;line-height:26px;color:#333333;}
         .patient-status-day label , .patient-status-late-night label , .patient-status-night label{display:inline-block;width:20%;}
         /*报告内容的表格中，病人情况里有关编辑a标签的样式*/
         .report-content-table .editDiagnosis{color:#1ad6f1;display:none;}
         .report-content-table .editDiagnosis:hover{color:#eb3a40}
         .report-content-table .happening{font-size:12px;}
         .report-content-table .editShift{margin-left:12px;}
          .report-content-table .illstatu{height:16px;border-top:1px solid #666;padding-top:4px;}
          .patient_special_state{border-collapse:collapse; border-spacing:0; width:100%;}
         
        /**添加病人信息的样式*/
        .patient-info{width:600px;height:180px;}
        .patient-info input{margin-left:20px;height:28px;margin-top:10px;}
        .patient-info table{overflow:auto;}
        .layui-table-view .layui-table {width:99%;margin:0 0;}
        /* patient-shift-state 病人班次的情况*/
        .patient-shift-state{width:500px;display:none;}
         .patient-shift-state p{margin-left:50px;}
         .patient-shift-state textarea{width:400px;margin-left:50px;height:200px;resize:none;margin-top:10px;}
         .editShift{display:none;}
         .trBackground{background:#eeeeee;}/*/添加病人表格行的颜色*/
         /*点击交班时会弹出的弹窗的样式*/
         .handOverWindow{
             display:none;
             height:80px;
         }
         .handOverWindow h3{font-family:'Microsoft Himalaya'; margin-left:40px;margin-top:20px;}
    </style>
</head>
<body>
    <!--交班报告的头部，主要是一些按钮，选择-->
    <div class="cuss-top">
        <div class="cuss-kf">
            <label> 选择日期:</label>
            <input type="text" id="select_date"/>
        </div>
        <div class="cuss-kf">
            <button class="layui-btn layui-btn-sm layui-btn-normal" style="margin-left:-8px;" id="query">查 询</button>
        </div>
        <div class="cuss-kf">
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="before-day">前一天</button>
        </div>
        <div class="cuss-kf">
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="next-day">后一天</button>
        </div>
        <div class="cuss-kf">
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="addPatient">增加病人</button>
        </div>
        <div class="cuss-kf">
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="printPreview">打印预览</button>
        </div>
   
    </div>
    <!--报告正文、内容-->
    <div class="report" id="report">
        <!--报告上的签名，以及交班按钮-->
        <div class="signature" id="signature">
            <table id="signature-table" class="signature-table">
                <tbody>
                    <tr style="margin-left:auto;margin-right:auto;">
                        <td></td>
                        <td><button class="layui-btn layui-btn-sm layui-btn-normal handOver" id="handOverOne">交班</button></td>
                        <td><button class="layui-btn layui-btn-sm layui-btn-normal handOver" id="handOverTwo">交班</button></td>
                        <td><button class="layui-btn layui-btn-sm layui-btn-normal handOver" id="handOverThree">交班</button></td>
                    </tr>
                    <tr>
                        <td  id="report-time" style="text-align:center;width:13%;font-size:14px;"></td><!--交班报告上的时间，平时隐藏，只有打印预览时看到-->
                        <td>
                            <div><span>交班人:</span> <span>交班时间:</span></div>
                            <div class="secondList"><span>接班人:</span> <span>接班时间:</span></div>
                        </td>
                        <td>
                           <div><span>交班人:</span><span>交班时间:</span></div>
                           <div class="secondList"><span>接班人:</span><span>接班时间:</span></div>
                        </td>
                        <td>
                            <div><span>交班人:</span><span>交班时间:</span></div>
                            <div class="secondList"><span>接班人:</span><span>接班时间:</span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--报告的主要内容，病人的详细信息-->
        <div class="report-content" id="report-content">
            <table id="report-content-table" class="report-content-table" border="1">
                <tbody>
                    <!--第一行是排班时间情况-->
                    <tr>
                        <td rowspan="2" colspan="2" style="width:12%;text-align:center;">患者总报告</td>
                        <td>&ensp;8:00:00&ensp;至&ensp;15:59:59&ensp;患者总数<span class="patientsNum"></span>人</td>
                        <td>&ensp;16:00:00&ensp;至&ensp;22:59:59&ensp;患者总数<span class="patientsNum"></span>人</td>
                        <td>&ensp;23:00:00&ensp;至&ensp;07:00:59&ensp;患者总数<span class="patientsNum"></span>人</td>
                    </tr>
                    <!--第二行是每班病人总体的情况-->
                    <tr>
                        <td>
                            <!--白班患者的总状态，比如：出院、入院、病危、手术等情况-->
                            <table class="patient-status-day" id="patient-status-day" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <label>&ensp;入院<span class="admission">0</span></label>
                                        <label>病危<span class="critically-ill">1</span></label>
                                        <label>测试<span class="test">6</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>&ensp;出院<span class="discharged">0</span></label>
                                        <label>转入<span class="transfer">0</span></label>
                                        <label>转出<span class="transfeOut">0</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>&ensp;发热<span class="heat">0</span></label>
                                        <label>手术<span class="surgery">0</span></label>
                                        <label>分娩<span class="childbirth">0</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-bottom:0px">
                                        <label>&ensp;死亡<span class="death">0</span></label>
                                        <label>病重<span class="sick"></span>1</label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <!--小夜班患者的总状态，比如：出院、入院、病危、手术等情况-->
                            <table class="patient-status-night" id="patient-status-night" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <label>&ensp;入院<span class="admission">0</span></label>
                                        <label>病危<span class="critically-ill">1</span></label>
                                        <label>测试<span class="test">6</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>&ensp;出院<span class="discharged">0</span></label>
                                        <label>转入<span class="transfer">0</span></label>
                                        <label>转出<span class="transfeOut">0</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>&ensp;发热<span class="heat">0</span></label>
                                        <label>手术<span class="surgery">0</span></label>
                                        <label>分娩<span class="childbirth">0</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-bottom:0px">
                                        <label>&ensp;死亡<span class="death">0</span></label>
                                        <label>病重<span class="sick"></span>1</label>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td>
                            <!--大夜班患者的总状态，比如：出院、入院、病危、手术等情况At night  Early morning-->
                            <table class="patient-status-late-night" id="patient-status-late-night" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <label>&ensp;入院<span class="admission">0</span></label>
                                        <label>病危<span class="critically-ill">1</span></label>
                                        <label>测试<span class="test">6</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>&ensp;出院<span class="discharged">0</span></label>
                                        <label>转入<span class="transfer">0</span></label>
                                        <label>转出<span class="transfeOut">0</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>&ensp;发热<span class="heat">0</span></label>
                                        <label>手术<span class="surgery">0</span></label>
                                        <label>分娩<span class="childbirth">0</span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-bottom:0px">
                                        <label>&ensp;死亡<span class="death">0</span></label>
                                        <label>病重<span class="sick"></span>1</label>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <!--后面几行就是病人的特殊情况，病危。病重的有多少病人就有多少行，js自动生成-->
                    <tr>
                        <td style="width:3%;text-align:center;">病人特殊情况</td>
                        <td colspan="4" style="border: 1px solid transparent !important;">
                            <table id="patient_special_state" class="patient_special_state" border="1" cellspacing="0" cellpadding="0"></table>
                        </td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
        
    </div>

  
    <!--编辑病人诊断得一个弹框-->
    <div id="patient-diagnosis" style="display:none;">
        <div style="margin-top:20px;margin-left:80px;">病人姓名:</div>
        <p id="patient-name" style="margin-top:6px;margin-left:86px;"></p>
        <div style="margin-top:10px;margin-left:80px;">诊断内容</div>
        <div style="margin-top:6px;margin-left:80px;"><textarea rows="5" cols="50" style="resize:none;"></textarea></div>
        <input type="hidden" id="patientId" />
        <div style="float:right;margin-top:30px;">
            <button id="confirm" class="layui-btn layui-btn-normal layui-btn-sm">确认</button>
            <button id="cancel" style="margin-right:20px;" class="layui-btn layui-btn-sm layui-btn-danger">取消</button>
        </div>
    </div>

    <!--添加病人信息得一个弹框，有病人的姓名、住院号、床号-->
    <div id="patient-info" style="display:none;" class="patient-info">
        <div>
            <input type="text" id="p_name" />
            <button class="layui-btn layui-btn-sm layui-btn-normal" id="screen">筛选</button>
        </div>
        <table id="patient-info-table" class="layui-table" lay-filter="AddPatients" lay-skin="line"></table>
        <div style="float:right;margin-top:20px;">
            <button id="info-confirm" class="layui-btn layui-btn-normal layui-btn-sm">确认</button>
            <button id="info-cancel" style="margin-right:20px;" class="layui-btn layui-btn-sm layui-btn-danger">取消</button>
        </div>

    </div>

    <!--每个班次给每个病人的情况做一些说明-->
    <div id="patient-shift-state" class="patient-shift-state">
        <div>
           <p>内容</p>
            <textarea id="shift-textarea">
            </textarea>
        </div>
        <div style="float:right;margin-top:20px;">
            <button id="shift-confirm" class="layui-btn layui-btn-normal layui-btn-sm">确认</button>
            <button id="shift-cancel" style="margin-right:20px;" class="layui-btn layui-btn-sm layui-btn-danger">取消</button>
        </div>
    </div>

    <!--点击交班时会弹出的弹窗-->
    <div class="handOverWindow" id="handOverWindow">
        <h3>您确定要交班吗？</h3>
        <div style="margin-top:20px;margin-left:40px;">
            <span>交班时间：</span>
            <input type="datetime-local" id="handOverTime" required  />
        </div>
    </div>
   

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/layui.all.js"></script>
    <script>  
        var wordId = '507';
        var username = '墨水之寒';
        //layui加载日期的，可选择日期
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#select_date'
                 , value: new Date()
            });
        });
        
        
        //获取今天的时间，并转换成类似 '2018-12-25'字符型格式
        var date = new Date();
        var month = date.getMonth() + 1;//获取月份
        var day = date.getDate();
        var hour = date.getHours();//获取小时
        month = month < 10 ? "0" + month : month;//如果月份小于10变成01,02样
        day = day < 10 ? "0" + day : day;
        var nowTime = date.getFullYear() + "-" + month + "-" + day;
  
        $("#report-time").html(nowTime);  //交班报告上的时间为今天，方便打印预览是看到

        //请求病人的总人数，显示在排班情况那里
        $.ajax({
            url: "/HandoverReport/QueryPatientsTotalNumber",
            data: { "wardId": wordId },
            async: false,
            type: "post",
            success: function (res) {
                $(".patientsNum").html(res);
            }
        });

        //patientTodayContent方法获取今天的病人特殊情况那里的内容
        function patientTodayContent(dtime) {
            //填充病人特殊情况那里的信息，向病人基本信息中查询出病危。病重的病人，
            $.ajax({
                url: "/HandoverReport/QueryPatientsSpecial",
                data: { "wardId": wordId },
                type: "post",
                async: false,
                dataType: "json",
                success: (res) => {
                    var special = "";
                    for (var i = 0; i < res.length; i++) {
                        special += "<tr><td style='width:9%;'  class='happening'><div ><span id='bedNo'>"
                      + res[i].BED + "床&emsp;</span><span class='name'>" + res[i].NAME + "</span><p style='margin-top:6px;'>" + res[i].ILLNESS
                      + "</p>&ensp;<a href='javaScript:void(0);' class='editDiagnosis'>[编辑]</a><input type='hidden' name='patientId' value='" + res[i].PATIENTID + "'></div><div class='illstatu'>&emsp;病"
                      + res[i].ILLSTATE + "</div></td> <td><span></span><button class='layui-btn layui-btn-normal layui-btn-sm editShift'>编辑</button></td>"
                      + "<td><span></span><button class='layui-btn layui-btn-normal layui-btn-sm editShift'>编辑</button></td><td><span></span><button class='layui-btn layui-btn-normal layui-btn-sm editShift'>编辑</button></td> </tr>"
                    }
                    $("#patient_special_state").append(special);
                }
            });
            //在交班记录中查询当天添加的病人信息，也存放在病人特殊情况那里  
            $.ajax({
                url: "/HandoverReport/QueryPatientInfoByID",
                data: { "wardId": wordId, "dTime": dtime },
                type: "post",
                async: false,
                dataType: "json",
                success: (res) => {
                    var special = "";
                    for (var i = 0; i < res.length; i++) {
                        if (res[i][0].ILLNESS == null) {
                            res[i][0].ILLNESS = "";
                        }
                        special += "<tr><td style='width:9%;'  class='happening'><div ><span id='bedNo'>"
                      + res[i][0].BEDID + "床&emsp;</span><span class='name'>" + res[i][0].NAME + "</span><p style='margin-top:6px;'>" + res[i][0].ILLNESS
                      + "</p>&ensp;<a href='javaScript:void(0);' class='editDiagnosis'>[编辑]</a><input type='hidden' name='patientId' value='" + res[i][0].PATIENTID + "'></div>"
                      + "</td> <td><span></span><button class='layui-btn layui-btn-normal layui-btn-sm editShift'>编辑</button></td>"
                      + "<td><span></span><button class='layui-btn layui-btn-normal layui-btn-sm editShift'>编辑</button></td><td><span></span><button class='layui-btn layui-btn-normal layui-btn-sm editShift'>编辑</button></td> </tr>"
                    }
                    $("#patient_special_state").append(special);
                }
            });
            //在交班记录中查询“今天”病人的情况，先循环查询表格中有的病人
            for (var i = 0; i < $("#patient_special_state tr").length; i++) {
                var PID = $("#patient_special_state tr:eq(0) td:eq(0)").find("input").val(); //循环查询出病人特殊情况表格中每行的病人的ID
                $.ajax({
                    url: "/HandoverReport/QueryPatientContentByID",
                    data: { "patientID": PID, "date": dtime, "wardID": wordId },
                    type: "post",
                    async: false,
                    dataType: "json",
                    success: function (res) {
                        for (var j = 0; j < res.length; j++) {
                            if (res[j].PATIENTID == PID) {//判断数据查出的该条记录中病人ID是否和表格中的病人ID是否相同，相同把对应的内容放入对应的时间段中
                                var td_index = Math.round(res[j].DTIME.substring(11, 13) / 8);//根据数据库中的不同时间段截取小时除以8判断属于哪个td,计算td的索引
                                var con = res[j].CONTENT;
                                $("#patient_special_state tr:eq(" + i + ")  td:eq(" + td_index + ") span").html(con);
                            }
                        }
                    }
                });
            }
        }
        //访问时执行，一刷新就执行
        patientTodayContent(nowTime);

        //传入一个时间获取，以前某天病人的情况，用于前一天、后一天、查询时日期变化的内容变化
        function patientBeforeContent(dtime) {
            //填充病人特殊情况那里的信息，向病人基本信息中查询出病危。病重的病人，
            $.ajax({
                url: "/HandoverReport/QueryPatientsSpecial",
                data: { "wardId": wordId },
                type: "post",
                async: false,
                dataType: "json",
                success: (res) => {
                    var special = "";
                    for (var i = 0; i < res.length; i++) {
                        special += "<tr><td style='width:9%;'  class='happening'><div ><span id='bedNo'>"
                      + res[i].BED + "床&emsp;</span><span class='name'>" + res[i].NAME + "</span><p style='margin-top:6px;'>" + res[i].ILLNESS
                      + "</p><input type='hidden' name='patientId' value='" + res[i].PATIENTID + "'></div><div class='illstatu'>&emsp;病"
                      + res[i].ILLSTATE + "</div></td> <td><span></span></td>"
                      + "<td><span></span></td><td><span></span></td> </tr>"
                    }
                    $("#patient_special_state").append(special);
                }
            });
            //在交班记录中查询当天添加的病人信息，也存放在病人特殊情况那里  
            $.ajax({
                url: "/HandoverReport/QueryPatientInfoByID",
                data: { "wardId": wordId, "dTime": dtime },
                type: "post",
                async: false,
                dataType: "json",
                success: (res) => {
                    var special = "";
                    for (var i = 0; i < res.length; i++) {
                        if (res[i][0].ILLNESS == null) {
                            res[i][0].ILLNESS = "";
                        }
                        special += "<tr><td style='width:9%;'  class='happening'><div ><span id='bedNo'>"
                      + res[i][0].BEDID + "床&emsp;</span><span class='name'>" + res[i][0].NAME + "</span><p style='margin-top:6px;'>" + res[i][0].ILLNESS
                      + "</p><input type='hidden' name='patientId' value='" + res[i][0].PATIENTID + "'></div>"
                      + "</td> <td><span></span></td>"
                      + "<td><span></span></td><td><span></span></td> </tr>"
                    }
                    $("#patient_special_state").append(special);
                }
            });
            //在交班记录中查询“今天”病人的情况，先循环查询表格中有的病人
            for (var i = 0; i < $("#patient_special_state tr").length; i++) {
                var PID = $("#patient_special_state tr:eq(" + i + ") td:eq(0)").find("input").val(); //循环查询出病人特殊情况表格中每行的病人的ID
                $.ajax({
                    url: "/HandoverReport/QueryPatientContentByID",
                    data: { "patientID": PID, "date": dtime, "wardID": wordId },
                    type: "post",
                    async: false,
                    dataType: "json",
                    success: function (res) {
                        for (var j = 0; j < res.length; j++) {
                            if (res[j].PATIENTID == PID) {//判断数据查出的该条记录中病人ID是否和表格中的病人ID是否相同，相同把对应的内容放入对应的时间段中
                                var td_index = Math.round(res[j].DTIME.substring(11, 13) / 8);//根据数据库中的不同时间段截取小时除以8判断属于哪个td,计算td的索引
                                var con = res[j].CONTENT;
                                $("#patient_special_state tr:eq(" + i + ")  td:eq(" + td_index + ") span").html(con);
                            }
                        }
                    }
                });
            }
        }
       
        //根据不同的时间段，交班按钮的显示情况,以及每个班次里面的编辑按钮，鼠标放上显示，离开隐藏
        function HourShow(shi) {
            if (shi >= 8 && shi <= 15) {//在16点之前只有第一个交班显示
                $(".handOver").hide();
                $("#handOverOne").show();
                $("#patient-status-night").hide();
                $("#patient-status-late-night").hide();
                $("#patient_special_state  tr").find("td:eq(1)").mouseover(function () {
                    $(this).find("button").show();
                });
                $("#patient_special_state  tr").find("td:eq(1)").mouseleave(function () {
                    $(this).find("button").hide(50);
                });
            }
            else if (shi == 16) {//在16点17点之前第一个和第二个都可以显示，最多延迟交班1小时
                $("#handOverOne").show();
                $("#handOverTwo").show();
                $("#patient-status-late-night").hide();
                $("#patient_special_state  tr").find("td:lt(3)").mouseover(function () {
                    $(this).find("button").show();
                });
                $("#patient_special_state  tr").find("td:lt(3)").mouseleave(function () {
                    $(this).find("button").hide(50);
                });
            }
            else if (shi >= 17 && shi <= 22) {//在到17点了，只有第二个交班按钮显示，其他隐藏下面类似
                $(".handOver").hide();
                $("#handOverTwo").show();
                $("#patient-status-late-night").hide();
                $("#patient_special_state  tr").find("td:eq(2)").mouseover(function () {
                    $(this).find("button").show();
                });
                $("#patient_special_state  tr").find("td:eq(2)").mouseleave(function () {
                    $(this).find("button").hide(50);
                });
            } else if (shi == 23) {
                $("#handOverTwo").show();
                $("#handOverThree").show();
                $("#patient_special_state  tr").find("td:gt(1)").mouseover(function () {
                    $(this).find("button").show();
                });
                $("#patient_special_state  tr").find("td:gt(1)").mouseleave(function () {
                    $(this).find("button").hide(50);
                });
            }
            else {
                $(".handOver").hide();
                $("#handOverThree").show();
                $("#patient_special_state  tr").find("td:eq(3)").mouseover(function () {
                    $(this).find("button").show();
                });
                $("#patient_special_state  tr").find("td:eq(3)").mouseleave(function () {
                    $(this).find("button").hide(50);
                });
            }
        }
        HourShow(hour);
        //让病人病症下面的编辑按钮在鼠标放在该a标签所在的td标签上是显示，鼠标离开隐藏
        function editHide() {
            $("#report-content-table>tbody>tr .happening").mouseover(function () {
                $(this).find("a").show();
            });
            $("#report-content-table>tbody>tr .happening").mouseleave(function () {
                $(this).find("a").hide();
            });
        }
        editHide();
        //病人每个班次每中状态的人数的显示问题，用户前一天、后一天、查询时小于今天的病人状态显示
        function pStatus() {
            $("#patient-status-day").show();
            $("#patient-status-night").show();
            $("#patient-status-late-night").show();
        }
        
        //在自己的班次里点击编辑按钮，编辑该班次病人的详细情况
        $(".editShift").unbind("click").bind("click", function () {//先解绑点击事件，在绑定点击时间，防止重复。
            var td_index = $(this).parent().index();//获取当前按钮所在td的索引
            //判断是哪个班次，不同的班次，传入不同的时间段
            var recordTime;
            if (td_index == 1) {
                recordTime = nowTime + " 08:00:00";
            }
            else if (td_index == 2) {
                recordTime = nowTime + " 16:00:00";
            }
            else {
                recordTime = nowTime + " 23:00:00";
            }        
            var patientId = $(this).parent().parent().find("td:eq(0)").find("input").val();//获取该行病人的ID
            editShift_span = $(this).parent().parent().find("td:eq(" + td_index + ") span");
            var editShift_span_val = $(this).prev().html();
            $("#patient-shift-state textarea").val(editShift_span_val);
            var layer;
            var index;
            layui.use('layer', function () {
                 layer = layui.layer;
                 index = layer.open({
                    type: 1,
                    title: ["  编辑病人详情", ' background:#9cf9fc; color:#333;font-size:18px'],
                    anim: 1,
                    area: ['500px', '336px'],
                    shade: [0.1, "#666666"],
                    content: $('#patient-shift-state'),
                    cancel: function () {
                        $('#patient-shift-state').hide();
                    }
                });
              
            });
            //点击里面的取消按钮，关闭弹窗
            $("#shift-cancel").click(function () {
                layer.close(index);
                $('#patient-shift-state').hide();
            });
            //点击编辑病人每班的情况里的确认按钮
            $("#shift-confirm").click(function () {
                var shift = $("#shift-textarea").val();
                $.ajax({
                    url: "/HandoverReport/AddOrUpdateHandoverRecord",
                    data: { "content": shift, "recordTime": recordTime, "wardId": '507', "patientId": patientId, "recordUser": '墨水之寒' },
                    type: "post",
                    success: function (res) {
                        if (res > 0) {
                            editShift_span.html(shift);
                            layer.close(index);
                            $('#patient-shift-state').hide();
                            layer.msg('编辑成功', { icon: 1, time: 2000, anim: 3 });
                        } else {
                            layer.msg('编辑失败', { icon: 5, time: 2000, anim: 3 });
                        }
                    }
                })
                 
            });
            jQuery.removeData(this);//删除之前的数据
        });

        //点击查询按钮要处理的事情
        $("#query").click(function () {
            var select_date = $("#select_date").val();//获取select_date里面的值
            var timeSelect = new Date($("#select_date").val().replace(/-/g, "/")); //在页面取得当前时间，并截取。       
            $("#report-time").html(select_date);
            //如果日期是今天，交班按钮就显示，否则隐藏
            if(select_date==nowTime){
                $(".handOver").show();//交班按钮显示
                $("#addPatient").show();
                $("#report-content-table tr:eq(0)").css("height", "24px");
                $("#report-content-table tr:gt(1)").show();
                $("#patient_special_state").html("");
                patientTodayContent(select_date);
                HourShow(hour);
                editHide();
            }
            else if (timeSelect > date) {//日期大于今天，提示信息日期不对
                $(".handOver").hide();//交班按钮隐藏
                $("#addPatient").hide();//添加病人按钮隐藏
                $("#report-content-table tr:gt(1)").hide();
                $("#report-content-table tr:eq(0)").css("height", "90px");
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.alert('请传入合适的日期，当前日期是未来', { title: '提示', icon: 2, anim: 1, shade: [0.4, '#cccccc'] });
                });
            }
            else {//日期小于今天时
                pStatus();
                $("#report-content-table tr:gt(1)").show();
                $("#report-content-table tr:eq(0)").css("height", "24px");
                $(".handOver").hide();//交班按钮隐藏
                $("#addPatient").hide();//添加病人按钮隐藏
                $("#patient_special_state").html("");
                patientBeforeContent(select_date);
            }
            
        });

        //点击前一天要实现的功能
        $("#before-day").click(function () {
            var timeRed = new Date($("#select_date").val().replace(/-/g, "/")); //在页面取得当前时间，并截取。
            timeRed = new Date(timeRed.getTime() - 1 * 24 * 60 * 60 * 1000); //在日期+1天。
            var mon = timeRed.getMonth() + 1;
            var timeDay = timeRed.getDate();
            mon = mon < 10 ? "0" + mon : mon;//如果月份小于10变成01,02样
            timeDay = timeDay < 10 ? "0" + timeDay : timeDay;
            timeRed_format = timeRed.getFullYear() + "-" + mon + "-" + timeDay; //重新格式化
            $("#report-time").html(timeRed_format);
            $("#select_date").val(timeRed_format);
            //如果日期是今天，交班按钮就显示，否则隐藏
            if (timeRed_format == nowTime) {
                $(".handOver").show();//交班按钮显示
                $("#addPatient").show();
                $("#report-content-table tr:eq(0)").css("height", "24px");
                $("#report-content-table tr:gt(1)").show();
                $("#patient_special_state").html("");
                patientTodayContent(timeRed_format);
                HourShow(hour);
                editHide();
            }
            else if (timeRed > date) {
                $(".handOver").hide();//交班按钮隐藏
                $("#addPatient").hide();//添加病人按钮隐藏
                $("#report-content-table tr:gt(1)").hide();
                $("#report-content-table tr:eq(0)").css("height", "90px");
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.alert('请传入合适的日期，当前日期是未来', { title: '提示', icon: 2, anim: 1, shade: [0.4, '#cccccc'] });
                });   
            }
            else {//日期小于今天时
                pStatus();
                $("#report-content-table tr:gt(1)").show();
                $("#report-content-table tr:eq(0)").css("height", "24px");
                $(".handOver").hide();//交班按钮隐藏
                $("#addPatient").hide();//添加病人按钮隐藏
                $("#patient_special_state").html("");
                patientBeforeContent(timeRed_format);
            }
               
        });

        //点击后一天要实现的功能
        $("#next-day").click(function () {
            var timeAdd= new Date($("#select_date").val().replace(/-/g, "/")); //在页面取得当前时间，并截取。
            timeAdd = new Date(timeAdd.getTime() + 1 * 24 * 60 * 60 * 1000); //在日期+1天。
            var mon = timeAdd.getMonth() + 1;
            var timeDay = timeAdd.getDate();
            mon = mon < 10 ? "0" + mon : mon;//如果月份小于10变成01,02样
            timeDay = timeDay < 10 ? "0" + timeDay : timeDay;
            timeAdd_format = timeAdd.getFullYear() + "-" + mon + "-" + timeDay; //重新格式化
            $("#select_date").val(timeAdd_format);
            $("#report-time").html(timeAdd_format);
            //如果日期是今天，交班按钮就显示，否则隐藏
            if (timeAdd_format == nowTime) {
                $(".handOver").show();//交班按钮显示
                $("#addPatient").show();
                $("#report-content-table tr:eq(0)").css("height", "24px");
                $("#report-content-table tr:gt(1)").show();
                $("#patient_special_state").html("");
                patientTodayContent(timeAdd_format);
                HourShow(hour);
                editHide();
            }
            else if (timeAdd > date) {//日期大于今天，提示信息日期不对
                $(".handOver").hide();//交班按钮隐藏
                $("#addPatient").hide();//添加病人按钮隐藏
                $("#report-content-table tr:gt(1)").hide();
                $("#report-content-table tr:eq(0)").css("height", "90px");
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.alert('请传入合适的日期，当前日期是未来', { title: '提示', icon: 2, anim: 1, shade: [0.4, '#cccccc'] });
                });
            }
            else {//日期小于今天时
                pStatus();
                $("#report-content-table tr:gt(1)").show();
                $("#report-content-table tr:eq(0)").css("height", "24px");
                $(".handOver").hide();//交班按钮隐藏
                $("#addPatient").hide();//添加病人按钮隐藏
                $("#patient_special_state").html("");
                patientBeforeContent(timeAdd_format);
            }
        });

        //点击增加病人,显示在院某个病区 所有病人的基本信息，但除去已在表格里的病人
        $("#addPatient").click(function () {
            $.ajax({
                url: "/HandoverReport/QueryPatientsInfo",
                data: { "wardId": '507' },
                type: "POST",
                async:false,
                dataType: "json",
                success: function (res) {
                    var len = res.length;
                    //给添加病人中，病人信息的表格中添加数据
                    layui.use('table', function () {
                        var table = layui.table;
                        //第一个实例
                        table.render({
                            elem: '#patient-info-table'
                            , height: 300
                            ,width:590
                            , cols: [[ //表头
                              , { field: 'NAME', title: '姓名', width: 160 }
                             , { field: 'HOSPITALNUM', title: '住院号', sort: true, width: 240 }
                             , { field: 'BEDID', title: '床号', width: 160 }
                             , { field: 'PATIENTID', hide: true }
                          ]]
                            , data: res
                            , limit: len
                        });
                    });
                   
                }
            });
            //弹出添加病人的弹窗
            layui.use('layer', function () {
                var layer = layui.layer;
                var index = layer.open({
                    type: 1,
                    title: ["  添加病人", ' background:#9cf9fc; color:#333;font-size:18px'],
                    anim: 1,
                    area: ['600px', '480px'],
                    shade: [0.1, "#666666"],
                    content: $('#patient-info'), 
                    cancel: function () {                   
                        $('#patient-info').hide();
                    }
                });
                //添加病人弹框里面的取消按钮点击事件，关闭弹窗，并隐藏
                $("#patient-info #info-cancel").click(function () {
                    layer.close(index);
                    $('#patient-info').hide();
                })
            });

        });

        //点击病人信息的某行，该行颜色变化,并获取选中的病人
        //点击添加病人弹框中的确认按钮，把病人添加到交班报告表格中
        var information = "";
        layui.use("table", function () {
            var table = layui.table;
            table.on('row(AddPatients)', function (obj) {
                $(this).parent().find("tr").css('background-color', '#fff')
                $(this).css('background-color', '#eee');               
                table.render();
                information = obj.data; //得到当前行数据{NAME: "黄玉慧", HOSPITALNUM: "2009003359", BEDID: "+2"}
                $("#p_name").val(information.NAME);
            });
        });

        //点击添加病人里面的搜索按钮，筛选出你搜索的病人信息
        $("#screen").click(function () {
            var p_name = $("#p_name").val();
            $("#info-confirm").click(function () {
                var patient = [{ title: information, }];
                $.ajax({
                    url: "/HandoverReport/QueryPatientsInfoByName",
                    data: { "wardId": wordId, "searchText": p_name },
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        var len = res.length;
                        //给添加病人中，病人信息的表格中添加数据
                        layui.use('table', function () {
                            var table = layui.table;
                            //第一个实例
                            table.render({
                                elem: '#patient-info-table'
                                , height: 300
                                , cols: [[ //表头
                                  , { field: 'NAME', title: '姓名', width: 160 }
                                 , { field: 'HOSPITALNUM', title: '住院号', sort: true, width: 200 }
                                 , { field: 'BEDID', title: '床号', width: 152 }
                                 , { field: 'PATIENTID', hide: true }
                                ]]
                                , data: res
                                , limit: len
                            });
                        });

                    }
                })
            });
        });
        //点击添加病人里面的确认按钮，实现添加病人在病人特殊情况的表格那里，在交班日志和记录中添加数据
        $("#info-confirm").click(function () {
            if (information == "") {//先判断是否选择了病人
                layui.use("layer", function () {
                    var layer = layui.layer;
                    layer.alert('请先选择病人', { icon: 5 });
                });
            }
            else {
                var pId = information.PATIENTID;
                var title = "Name:" + information.NAME + "|BedNumber:       " + information.BEDID + "|PatientID:" + information.PATIENTID + "|InTimes:1"
                $.ajax({
                    url: "/HandoverReport/AddHandoverRecordTitle",
                    data: { "title": title, "wardId": wordId, "patientId": pId, "recordUser": "墨水之寒" },
                    type: "post",
                    success: function (data) {
                        if (data > 0) {
                            layui.use("layer", function () {
                                var layer = layui.layer;
                                layer.alert('添加病人成功', { icon: 1 },
                                    function () {
                                        location.reload();
                                    });
                            });
                        }
                        else {
                            layui.use("layer", function () {
                                var layer = layui.layer;
                                layer.alert('添加失败', { icon: 5 });
                            });
                        }
                    }
                })
            }

        });
     
        //点击病人信息中的编辑按钮,弹出病人信息
        $("#report-content-table>tbody>tr .happening a").click(function () {
            var name = $(this).parent().find('.name').html();
            var illness = $(this).parent().find('p').html();
            var patientId = $(this).parent().find('input').val();
            layui.use('layer', function () {
                var layer = layui.layer;
               var index =layer.open({
                    type: 1,
                    title: ["  编辑病人诊断", ' background:#9cf9fc; color:#333;font-size:18px'],
                    anim: 1,
                    area: ['500px', '300px'],
                    shade:[0.1,"#666666"],
                    content: $('#patient-diagnosis'),
                    cancel: function () {
                        $('#patient-diagnosis').hide();
                    }
                });
                //点击编辑诊断描述中的取消按钮，关闭弹窗。
               $("#patient-diagnosis #cancel").click(function () {
                   layer.close(index);//关闭弹窗
                   $("#patient-diagnosis").hide();
               });
            });
            $("#patient-diagnosis>#patient-name").html(name);
            $("#patient-diagnosis textarea").val(illness);
            $("#patient-diagnosis input").val(patientId);
        });

        //点击编辑病人诊断里面的确认按钮,修改病人的诊断描述
        $("#patient-diagnosis #confirm").click(function () {
            var patientId = $("#patient-diagnosis #patientId").val();
            var diagnostic=$("#patient-diagnosis textarea").val();
            $.ajax({
                url: "/HandoverReport/ChangeDiagnosticDescription",
                data: { "patientId": patientId, "diagnostic": diagnostic },
                type: "post",
                success: function (data) {
                    if (data > 0) {
                        location.reload();//修改成功后刷新界面
                    } else {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('修改失败.', { icon: 5, time: 2000, anim: 3 });
                        });
                    }
                }
            });
        });

        //点击交班按钮后的处理事件
        //首先给交班的弹窗的时间赋值，为当前系统时间
        $(".handOver").click(function () {
            var handOverTime = nowTime + "T" + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();//获取当前的具体是时间
            $("#handOverTime").val(handOverTime);
            var handIndex = $(this).parent().index();//获取该个交班按钮在table tr中的td索引，判断属于那班，1白班，2小夜班，3打夜班
            console.log(handIndex);
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    type: 1,
                    title: ["  交班", ' background:#9cf9fc; color:#333;font-size:18px'],
                    anim: 1,
                    area: ['380px', '200px'],
                    shade: [0.1, "#666666"],
                    btn:['确认','取消'],
                    content: $('#handOverWindow'),
                    cancel: function () {//点击 X 关闭弹窗
                        $('#handOverWindow').hide();
                    },
                    yes: function (index) {//点击里面的却人按钮，实现交班功能
                        layer.close(index);
                        var handContent = [
                           {
                               "Sumperson": $(".patientsNum").html(),
                               "title": [
                                  { "1": 0 },
                                  { "10": 1 },
                                  { "11": 6 },
                                  { "2": 0 },
                                  { "3": 0 },
                                  { "4": 0 },
                                  { "5": 0 },
                                  { "6": 0 },
                                  { "7": 0 },
                                  { "8": 0 },
                                  { "9": 1 }
                               ],
                               "hlnr": [],
                               "patient": [
                                      { "49740,1": { "Content": "", "Status": null, "StatusNum": null, "Description": "(Z33.X52)妊娠状态 NOS", "BedNumber": "   16", "Name": "徐叶珍", "HomePageID": "1" } },
                                      { "55712,1": { "Content": "147", "SysContent": "", "Status": "病重", "StatusNum": "9", "Description": "(K37.X01)阑尾炎", "BedNumber": "3", "Name": "四月", "HomePageID": "1" } },
                                      { "52775,1": { "Content": "", "SysContent": "", "Status": "病危", "StatusNum": "10", "Description": "(031014)急性阑尾炎", "BedNumber": "12", "Name": "张萌", "HomePageID": "1" } },
                                      { "51221,1": { "Content": "", "SysContent": "", "Status": "待手术", "StatusNum": "11", "Description": null, "BedNumber": "1", "Name": "测试", "HomePageID": "1" } }
                               ]
                           }];
                        console.log(handContent);
                        $('#handOverWindow').hide();
                        for (var i = 0; i < $("#patient_special_state tr").length; i++) {
                            var pid = $("#patient_special_state tr:eq(" + i + ") td:eq(0) input").val();
                            var status = $("#patient_special_state tr:eq(" + i + ") td:eq(0) ").find(".illstatu").text();
                            var content = $("#patient_special_state tr:eq(" + i + ") td:eq(" + handIndex + ") span").text();
                            var description = $("#patient_special_state tr:eq(" + i + ") td:eq(0) ").find("p").text();
                            var bedNum = $("#patient_special_state tr:eq(" + i + ") td:eq(0) ").find("#bedNo").text();
                            var name = $("#patient_special_state tr:eq(" + i + ") td:eq(0) ").find(".name").html()
                        }
                        //$.ajax({
                        //    url: "/HandoverReport/HandOver",
                        //    data: {},
                        //    type: "post",
                        //    success: function (data) {
                        //        if (data > 0) {
                        //            layui.use('layer', function () {
                        //                var layer = layui.layer;
                        //                layer.msg('交班成功!', { icon: 1, time: 2000, anim: 1 });
                        //            });
                        //        }
                        //        else {
                        //            layui.use('layer', function () {
                        //                var layer = layui.layer;
                        //                layer.msg('交班失败!', { icon: 2, time: 2000, anim: 1 });
                        //            });
                        //        }
                        //    }
                        //})
                    },
                    btn2: function (index) {//点击里面的取消按钮，关闭弹窗
                        layer.close(index);
                        $('#handOverWindow').hide();
                    }

                });
            });
            jQuery.removeData(this);//删除之前的数据
        });

    </script>
</body>
</html>
 
